@import "tailwindcss";

:root{
  width:80%;
  box-sizing: border-box;
}

.sidebar{
  position: fixed;
  top:0;
  left:0;
  width: 280px;
  height: 100vh;
}

.content-container{
  position: fixed;
  margin-left:280px;
  width: 60%;

}
.todo-item-container::after{
  content:"";
  margin-top:7px;
  position: absolute;
  width:100%;
  height:1px;
  border-bottom: 2px solid #E2E8F0;
}

